.jumbotron {
    background-image: url('../img/dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.card-img-top:hover {
    transition: 0.3s;
    transform: scale(2);
    z-index: 1;
}

@media screen and (max-width: 728px) {
    .card-img-top:hover {
        transform: scale(2);
    }
}
